@model LegislacionAPP.Models.DBModels.Usuario

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="apellido" class="control-label"></label>
                <input asp-for="apellido" class="form-control" />
                <span asp-validation-for="apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="correo" class="control-label"></label>
                <input asp-for="correo" class="form-control" />
                <span asp-validation-for="correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contrasena_hash" class="control-label"></label>
                <input asp-for="contrasena_hash" class="form-control" type="password"/>
                <span asp-validation-for="contrasena_hash" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="fecha_creacion" class="control-label"></label>
                <input asp-for="fecha_creacion" class="form-control" />
                <span asp-validation-for="fecha_creacion" class="text-danger"></span>
            </div> *@
            @* <div class="form-group">
                <label asp-for="fecha_actualizacion" class="control-label"></label>
                <input asp-for="fecha_actualizacion" class="form-control" />
                <span asp-validation-for="fecha_actualizacion" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="id_pais" class="control-label"></label>
                <select asp-for="id_pais" class ="form-control" asp-items="ViewBag.id_pais"></select>
            </div>
            <div class="form-group">
                <label asp-for="id_rol" class="control-label"></label>
                <select asp-for="id_rol" class="form-control" asp-items="ViewBag.id_rol"></select>
            </div>
            @* <div class="form-group">
                <label asp-for="id_estado" class="control-label"></label>
                <select asp-for="id_estado" class ="form-control" asp-items="ViewBag.id_estado"></select>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
